body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
.fullbg{
    background-image: url('./bg3.png');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
.title{
    padding-top: 200px;
     font-size: 60px;
     font-weight: 300px;
      color: whitesmoke;
       -webkit-text-stroke: 1px black;
       font-weight: 600;
       font-family: Georgia, 'Times New Roman', Times, serif;
}
.title:hover{
    color: lightgreen;
}
p{
    color: white;
    font-size: 25px;
}