body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.navbar{
background-color: rgb(0, 0, 0);
position: fixed;
width: 100%;
}
.nav-link{
color: white;
margin-left: 30px;
}
.nav-link:hover{
color:rgba(106, 0, 255, 0.521);
font-weight: 900;
}
.navbar-brand{
color:blue;
font-size: 25px;
font-weight: 900;
}
.navbar-brand:hover{
    color:blue;
}
.navbar-toggler{
    background-color: rgb(252, 252, 252);
    
}

.fullbg{
      background-image: url('./bgimg.png');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
.title{
    padding-top: 300px;
    font-size: 60px;
    font-weight: 300px;
    color: whitesmoke;
    -webkit-text-stroke: 2px rgba(0, 0, 0, 0.708);
    font-weight: 900;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


p{
     display: inline;
    font-weight: 600;
    padding: 10px;
    font-weight: 600;
    color:lightcyan;
    -webkit-text-border: 2px rgb(0, 0, 0);

}
marquee{
    color: whitesmoke;
    
}
img{
    border-radius: 50px;
}
@media (max-width: 600px){
    .title{
        font-size: 2.5rem;
        margin-top: 10px;
    }
    .subtitle{
        font-size: 1rem;
    }
    .fullbg{
        background-size: cover;
        height: 120vh;
        
    }
}
