body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-image: url('./images/backimg.jpg');
    background-color: rgba(255, 255, 255, 0.482);
     background-repeat: no-repeat;  
  background-size: cover;       
  background-position: center; 
.navbar{
background-color: rgb(0, 0, 0);
position: fixed;
width: 100%;
  z-index: 1000;
}
.navbar-brand {
color: rgb(8, 251, 255);
font-size: 25px;
font-weight: 700;
margin-left: 700px;
font-family: cursive;
text-decoration: none;
}
.navbar-brand:hover {
color: rgb(8, 251, 255);

}

    .container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      gap: 20px;
    }

    .item {
      height: 300px;
      border-radius: 100px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      border-style: groove;
      align-items: center;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      
    }

    .item:hover {
      transform: scale(1.05);
      cursor: pointer;
      box-shadow: 3px 15px 20px rgba(0, 0, 255, 0.375);
    }

    .item img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media (max-width: 600px) {
      .item {
        height: 390px;
        margin: 10px;

      }
      .navbar-brand{
        margin-left:55px;
      }


    }
img{
    border-radius: 50px;
}